[submodule "polybar/.config/polybar/nmcli-rofi"]
	path = polybar/.config/polybar/nmcli-rofi
	url = https://github.com/sinetoami/nmcli-rofi.git
[submodule "polybar/.config/polybar/rofi-wifi-menu"]
	path = polybar/.config/polybar/rofi-wifi-menu
	url = git@github.com:e-eight/rofi-wifi-menu.git
[submodule "emacs/lisp/emacs-org-dnd"]
	path = emacs/lisp/emacs-org-dnd
	url = https://github.com/xeals/emacs-org-dnd.git
